@model IEnumerable<OrdersSystem.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Produkty</h1>

<p>
    <a asp-action="Create">Utwórz nowe</a>
</p>
<a asp-action="IndexMniejsze50">Produkty tańsze niż 50</a>
<a asp-action="IndexWieksze100">Produkty droższe niż 100</a>
<a asp-action="IndexKategoria">Produkty sortowane przez kategorie</a>
<a asp-action="IndexDostawca">Produkty sortowane przez dostawce</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detale</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuwanie</a>
            </td>
        </tr>
}
    </tbody>
</table>
