@model IEnumerable<OrdersSystem.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Szczegóły zamówienia</h1>

<p>
    <a asp-action="Create">Utwórz nowe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detale</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuwanie</a>
            </td>
        </tr>
}
    </tbody>
</table>
